{% extends "base.html" %}

{% block head%}
<link href="../static/css/pricing.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
My Account
{% endblock %}

{% block content %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<br><br><br>


<div class="container marketing">
  <center>
    <div class='box-shadow'>
      <br><br>
      <img class="rounded-circle" src="../static/images/team/q.jpg" alt="pfp" width="140" height="140">
      <br><br>
      <h1 id='dark'>{{first}} {{last}}</h1><br>

      <div class="container">
        <div class="card-deck text-center" style='width: 300px;'>
          <div class="card mb-4 box-shadow" style='position: right;'>
            <div class="card-header">
              <b>Username:</b> @{{username}}
            </div>
            <div class="card-header">
              <b>Birthday:</b> {{birthday}}
            </div>
            <div class="card-header">
              <b>Email:</b> {{email}}
            </div>
            <div class="card-header">
              <b>Zip Code:</b> {{zipcode}}
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow" style='background-color: rgba(255, 46, 77, 0.3);'>
            <div class="card-header">
              <br>
              <h2 class="display-5" style='color: white;'>Queenie and Kyle's Plant</h2>
            </div>
            <div class="card-body" style='margin-right: 40px; margin-left: 40px;'>
              <p class="lead">Total Plant Points: 13 {{points}}</p>
              <img class="card-img-top" src="../static/images/daisy.svg" alt="Card image cap" style='width: 150px; height: 200px'>
              <!--canvas></canvas-->
              <br><br>
              <a href="/browse" class="btn btn-lg btn-block pull-bottom btn-primary box-shadow" aria-label="Keep Browsing"; id='button3' style='position: bottom;'>
                Keep Browsing!
              </a>
            </div>
          </div>

          <div class="card mb-4 box-shadow bg-light">
            <div class="card-header">
              <br>
              <h2 class="display-5" id='light'>Questionnaire Results</h2>
            </div>
            <div class="card-body text-left" style='margin-right: 40px; margin-left: 40px;'>
              <p><b>Time of Day:</b> Night</p>
              <p><b>Indoors/Outdoors:</b> Outdoors</p>
              <p><b>Favorite Location:</b> Beach</p>
              <p><b>Favorite Cuisine:</b> Italian</p>
              <p><b>City/Suburbia:</b> City</p>
              <p><b>Strongest Chracteristic:</b> Adventurous</p>
              <p><b>Favorite Music Genre:</b> Pop and Hip Hop</p>
              <a href="/account" class="btn btn-lg btn-block btn-primary box-shadow" aria-label="Keep Browsing"; id='button3'>
                Retake the Questionnaire
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">

          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <br>
              <h2 class="display-5" id='dark'>Recent Dates</h2>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th style='width: 10%;'>Date</th>
                      <th style='width: 25%;'>Activity</th>
                      <th style='width: 15%;'>Plant Points</th>
                      <th>Review</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>5/27/18</td>
                      <td>Ice Skating at Bryant Park</td>
                      <td>5</td>
                      <td>
                        Really great! You would think that there's no ice skating in May, but you're wrong HA. Gottem.
                        <br><br>
                        <p><a class="btn btn-secondary" href="#" role="button" id='button2'>Edit Review &raquo;</a></p>

                      </td>

                    </tr>
                    <tr>
                      <td>5/13</td>
                      <td>Kung Fu Tea: Buy One Get One Free!</td>
                      <td>2</td>
                      <td>
                        Awesome finding this spot in Chinatown, since there's a tea spot on just about every corner.
                        The fiance is big on popping Boba, and this is one of the few places that has it. Customization
                        of drinks is appreciated, as well as the quality of the drink. My only gripe is that I wish they
                        had more variety. Probably a more practical business idea to have just the more popular flavors, I
                        guess. But, you can definitely taste the hint of brown sugar in the actual Boba itself, which was a plus.
                        <br><br>
                        <p><a class="btn btn-secondary" href="#" role="button" id='button2'>Edit Review &raquo;</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td>4/30</td>
                      <td>Picnic</td>
                      <td>6</td>
                      <td>
                        <br><br>
                        <p><a class="btn btn-secondary" href="#" role="button" id='button2'>Edit Review &raquo;</a></p>
                      </td>
                    </tr>

                    {% for date_entry in dates %}
                    <tr>
                      {% for entry in date_entry %}
                         <td>
                           <br><br>
                          {{entry}}
                        </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <form action="/login_redirect">
	<button type="submit" name="submit" value="Logout" class="btn btn-info">Sign Out</button>
  </center>


</div>
<hr class="featurette-divider">









<!-- /.container -->

{% endblock %}
